body {
    font: 20px Arial, sans-serif;
}

.navbar {
    background-color: #1F63A3;
}

.quem-somos {
    background-color: #63B4FF;
    color: white;
}

.margin {
    padding-top: 15px;
    padding-bottom: 50px;
}

.parceiros {
    background-color: #0054A3;
}

.bg-footer {
    background-color: black;
    color: white;
}